﻿<div id="home-view">
    <h1>Home</h1>
    <br />
    <div class="row">
        <div class="col-xs-6">
            <form ng-submit="vm.loadSolution()">
                <div class="form-group">
                    <input type="text" class="form-control" autofocus placeholder="Solution Path" ng-model="vm.solutionPath" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    <i class="fa fa-download"></i> Load solution
                </button>
                <button type="button" class="btn btn-info btn-block" ng-click="vm.exploreSolution()">
                    <i class="fa fa-folder-open"></i> Solution Explorer
                </button>
                <hr />
                <div ng-show="vm.solution">
                    <h1>Solution name : {{vm.solution.name}}</h1>
                    <br />
                    <label>Projects : </label>
                    <ul class="list-group" ng-repeat="project in vm.solution.projects">
                        <li class="list-group-item">
                            <h3>Name : {{project.name}}</h3>
                            <div>
                                <ul>
                                    <li ng-repeat="reference in project.references">
                                        <div>
                                            <label>Name : </label>
                                            <span>{{reference.name}}</span>
                                        </div>
                                        <div ng-show="reference.version">
                                            <label>Version : </label>
                                            <span>{{reference.version}}</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <button type="button" class="btn btn-block btn-info" ng-click="vm.buildProject(project.id)">
                                <i class="fa fa-cogs"></i> Build
                            </button>
                        </li>
                    </ul>
                </div>
            </form>
            <br />
            <button type="button" class="btn btn-info btn-block" ng-show="vm.solution" ng-click="vm.buildSolution()">
                <i class="fa fa-cogs"></i> Build solution
            </button>
        </div>
        <div class="col-xs-6">
            <ul ng-show="vm.logs">
                <li ng-repeat="log in vm.logs">{{log.message}}</li>
            </ul>
            <div>
                <label>{{vm.solutionRoot.name}}</label>
            </div>
            <accordion close-others="oneAtATime">
                <accordion-group ng-repeat="item in vm.solutionRoot.children" heading="{{item.name}}"
                                 is-disabled="!item.isFolder">
                    <div ng-include="'node.html'" ng-init="node=item"></div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <br />
    <script type="text/ng-template" id="node.html">
        <accordion close-others="oneAtATime">
            <accordion-group ng-repeat="item in node.children" heading="{{item.name}}"
                             is-disabled="!item.isFolder">
                <div ng-include="'node.html'" ng-init="node=item"></div>
            </accordion-group>
        </accordion>
    </script>
</div>